<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PHP Dischi JSON</title>

        <!-- BS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

        <!-- JS -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>
    <body>
        <div id="app">
            <header>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h1>
                                PHP Dischi JSON
                            </h1>
                        </div>
                    </div>
                </div>
            </header>

            <main>
                <div class="container">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <a href="create.html" class="btn btn-success">
                                + Aggiungi disco
                            </a>
                        </div>
                        <div class="col-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Artist</th>
                                        <th scope="col">Genre</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="disc in discs">
                                        <td>{{ disc.id }}</td>
                                        <td>{{ disc.name }}</td>
                                        <td>{{ disc.artist }}</td>
                                        <td>{{ disc.genre }}</td>
                                        <td>
                                            <button @click="getSingleDisc(disc.id)" class="btn btn-primary">
                                                View
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div v-if="singleDisc != null" class="position-fixed top-0 left-0 w-100 h-100 bg-primary">
                    <button @click="hideSingleDiscModal()" class="btn btn-warning position-absolute top-0 end-0">
                        <strong>
                            X
                        </strong>
                    </button>
                    
                    <div class="w-100 h-100 d-flex align-items-center justify-content-center text-center text-white">
                        <div>
                            <h2>
                                {{ singleDisc.id }} - {{ singleDisc.name }}
                            </h2>
                            <h3>
                                {{ singleDisc.artist }}
                            </h3>
                            <h4>
                                {{ singleDisc.genre }}
                            </h4>
                            <h5>
                                {{ singleDisc.year }}
                            </h5>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>